.remark-slide-content {
    background-color: black;
    color: white;
}

.remark-slide-content.img-left-right-full > p:first-of-type {
    margin: 0px;
    padding: 0px;
}
.remark-slide-content.img-left-right-full > p:first-of-type > img {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 50%;
    object-fit: cover;
    object-position: right;
}
  
.remark-slide-content.img-left-right-full > p:nth-of-type(2) {
    margin: 0px;
    padding: 0px;
}
.remark-slide-content.img-left-right-full > p:nth-of-type(2) > img {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 50%;
    object-fit: cover;
    object-position: left;
}

.remark-slide-content.tt > ul {
    position: relative;
    background-color: rgba(0, 0, 0, 0.7);    
    color: white;
    text-shadow: 4px 4px 12px rgba(0, 0, 0, 0.8), 8px 8px 20px rgba(0, 0, 0, 0.9);
    width: 30%;
    height: 65%;
    margin: auto;
    line-height: 80px;
}

.remark-slide-content.conclusion > ul {
    width: 60%;
}

.remark-slide-content.tt > ul > li {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.remark-slide-content.questions > ul > li {
    padding-top: 25%;
    font-size: 4rem;
}

.remark-slide-content.tt > ul > li img {
    vertical-align: middle;
    background: whitesmoke;
    opacity: 0.8;
}

html.remark-container, body.remark-container {
    background-color: darkorange;
}

.remark-slide-content img[src*="vonc.jpg"] {
    float: right;
    position: relative;
    -moz-perspective: 100px;
    -moz-transform: rotateY(-1deg);
    -webkit-transform: perspective(100) rotateY(-1deg);
}

.remark-slide-content img[src*="chaffiol.jpg"] {
    float: left;
    position: relative;
    -moz-perspective: 100px;
    -moz-transform: rotateY(1deg);
    -webkit-transform: perspective(100) rotateY(1deg);
}

.remark-slide-content.about1 > p:first-of-type {
    width: calc(30%);
}

.remark-slide-content.about2 > p:first-of-type {
    width: calc(30%);
}

.about1 li li img {
    vertical-align: text-top;
}

.about2 li li img {
    vertical-align: text-top;
}
